*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url("/images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
  
    
}
.banner1{
    
    padding: 216px 230px 155px 64px;
    text-align:right;

}
.banner-content{
    color: #FFF;
font-size: 65px;
font-weight: 700;
margin-bottom: 24px;

}
.TT{
    color: #FFF;
font-size: 16px;
font-weight: 400;
margin-bottom: 24px;

}
.bttn{
    padding: 21px 25px 20px 26px;
    color: #005FAC;
text-align: right;
font-size: 20px;
font-weight: 600;

}

.info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 150px 300px 50px 200px;
}
.info-head{
    color: #151414;
font-size: 40px;
font-weight: 700;
margin-bottom: 20px;
}
.info-para{
    color: #444343;
font-size: 16px;
font-weight: 400;
margin-bottom: 16px;

}
.lii{
    list-style: none;
    margin-bottom: 8px;
}